/* HEADER */

.header {
  display: flex;
  color: #fff;
  background-color: var(--primary-bg);
  font-family: Montserrat-Regular;
  font-size: 0.875rem;
  position: sticky;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 10;
}

.header__logo {
  align-self: center;
  height: 40px;
  margin: 0 0.5rem;
}

.header__inp-search {
  background-color: var(--bg-color);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0.5rem;
  align-self: center;
  margin: 0 1rem;
  width: inherit;
  max-width: 300px;
}

.header__inp-search::placeholder {
  color: #ccc;
  font-family: Montserrat-Regular;
}

/* HEADER-MENU */

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__icon-menu-responsive {
  margin: 0 0.5rem;
}

.menu__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--primary-bg);
  font-size: 16px;
  position: absolute;
  top: var(--header-height);
  right: -100vw;
  width: 100%;
  height: calc(100vh - var(--header-height));
  list-style: none;
  transition: ease-in-out 0.8s;
}

.header__icon-menu-responsive:hover ~ .menu__ul {
  right: 0;
}

.menu__ul-item {
  text-align: center;
}

.menu__ul-link {
  color: #fff;
  font-size: 1.25em;
  padding: 0.8rem 1rem;
  text-decoration: none;
  transition: all 0.3s;
}

/* MEDIA QUERIES */

@media screen and (min-width: 880px) {
  .menu__ul {
    width: 40vw;
    height: 50vh;
    opacity: 0.9;
  }
}

@media screen and (min-width: 1300px) {
  .hidden {
    display: none;
  }

  .header__menu {
    width: 100%;
    display: initial;
  }

  .menu__ul {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: initial;
    width: initial;
    height: 100%;
    opacity: 1;
    font-size: 12px;
  }

  .menu__ul-link {
    margin: 0 0.5rem;
  }
}
