/* FONTS */

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

/* VARS */

:root {
  --primary-bg: #0582ca;
  --menu-resp: #0582ca83;
  --bg-color: #051923;
  --btn-color: #003554;
}

/* RESET & GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #051923;
}

/* HEADER */

.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat-Regular;
  font-size: 0.875rem;
  background-color: var(--primary-bg);
  height: 130px;
  /* max-width: 1440px; */
  margin: 0 auto;
}

.header__logo {
  width: 120px;
  height: 120px;
}

.header__inp-search {
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  width: 130px;
}

.header__inp-search::placeholder {
  color: white;
  font-family: Montserrat-Regular;
}

.wrapper-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.wrapper-close__text {
  text-decoration: none;
  color: #fff;
}

/* MENU */

.header__menu {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 110px;
  width: 100%;
  height: 80vh;
}

.header__icon-menu-responsive {
  position: absolute;
  top: -12px;
  right: 35px;
  width: 100%;
}

.menu__ul {
  display: none;
  position: absolute;
  background-color: var(--menu-resp);
  top: 18px;
  width: 100%;
  height: calc(100vh - 130px);
  list-style: none;
}

.header__icon-menu-responsive:hover ~ .menu__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu__ul-item {
  text-align: center;
}

.menu__ul-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem;
}

/* MAIN CONTENT */

.flex-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.flex-container__title {
  font-family: Montserrat-Regular;
  letter-spacing: 1px;
  margin: 0.8rem 0;
  text-align: center;
}

.flex-container__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* CARD */

.card__item {
  width: 300px;
  margin: 0 0.5rem;
}

.item__img {
}
/* MEDIA QUERIES */

@media screen and (max-width: 365px) {
  .header__inp-search {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .hidden {
    display: none;
  }

  .header {
    height: min-content;
    flex-wrap: wrap;
  }

  .header__logo {
    margin-left: 1rem;
  }

  .header__inp-search {
    width: 40%;
  }

  .wrapper-close {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .header__menu {
    position: static;
    width: 100%;
    height: 100%;
    order: 1;
  }

  .menu__ul {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: none;
    height: 50px;
  }

  .menu__ul-link {
    font-size: initial;
  }
}

@media screen and (min-width: 880px) {
  .header__inp-search {
    width: 230px;
  }

  .header__menu {
    width: 40%;
    order: initial;
  }

  .menu__ul-item {
    flex-grow: 1;
  }
}
