/* FONTS */

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

/* VARS */

:root {
  --primary-bg: #0582ca;
  --menu-resp: #0582ca;
  --bg-color: #051923;
  --btn-color: #003554;
}

/* RESET & GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #051923;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: var(--primary-bg);
  font-family: Montserrat-Regular;
  font-size: 0.875rem;
  position: sticky;
  top: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  z-index: 1;
}

.header__logo {
  width: 100px;
  height: 100px;
  margin-left: 1.2rem;
}

.header__inp-search {
  background-color: var(--bg-color);
  border-radius: 12px;
  color: #fff;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  width: 130px;
}

.header__inp-search::placeholder {
  color: #ccc;
  font-family: Montserrat-Regular;
}

.wrapper-close {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
  margin-right: 1rem;
}

.wrapper-close__text {
  text-decoration: none;
  color: #fff;
}

/* MENU */

.header__menu {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 95px;
  width: 100%;
  height: 88vh;
}

.header__icon-menu-responsive {
  position: absolute;
  top: -28px;
  right: 24px;
  width: 100%;
}

.menu__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: var(--primary-bg);
  width: 100%;
  left: -100vw;
  height: calc(100vh - 95px);
  list-style: none;
  transition: ease-in-out 0.8s;
}

.header__icon-menu-responsive:hover ~ .menu__ul {
  left: 0;
}

.menu__ul-item {
  text-align: center;
}

.menu__ul-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem;
}

/* MAIN CONTENT */

.flex-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.flex-container__title {
  font-family: Montserrat-Regular;
  letter-spacing: 1px;
  margin: 0.8rem 0;
  text-align: center;
}

.flex-container__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* CARD */

.card__item {
  position: relative;
  margin: 0.5rem;
  width: 300px;
}

.wrapper-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  opacity: 1;
}

.wrapper-info__item {
  padding: 0.5rem;
  width: 145px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.wrapper-info__sinopsis {
  padding: 0.5rem;
  width: 145px;
  height: 130px;
  line-height: 30px;
}

.item-video {
  position: absolute;
  width: 300px;
  height: 200px;
  object-fit: unset;
}

.item-video:hover {
  opacity: 0.1;
}

.wrapper-info__icon {
  position: relative;
  left: 110px;
  z-index: -10;
}
/* MEDIA QUERIES */

@media screen and (max-height: 414px) {
  .header {
    height: 104px;
  }
}

@media screen and (max-width: 450px) {
  .header__inp-search {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .hidden {
    display: none;
  }

  .header {
    flex-wrap: wrap;
  }

  .header__inp-search {
    width: 30%;
  }

  .wrapper-close {
    margin-bottom: 0;
  }

  .header__menu {
    position: static;
    width: 100%;
    height: min-content;
    order: 1;
  }

  .menu__ul {
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 31px;
    margin-bottom: 1rem;
    transition: none;
  }

  .menu__ul-link {
    font-size: initial;
  }
}

@media screen and (min-width: 880px) {
  .header__inp-search {
    width: 230px;
  }

  .header__menu {
    width: 40%;
    order: initial;
  }

  .menu__ul {
    margin: 0;
  }

  .menu__ul-item {
    flex-grow: 1;
  }

  .flex-container {
    margin: 0.5rem 2rem;
  }

  .flex-container__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 440px;
    overflow: hidden;
  }
}

@media screen and (min-width: 930px) {
  .flex-container__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    width: 130px;
    height: 130px;
    margin-left: 2rem;
  }

  .header__inp-search {
    width: 350px;
  }

  .wrapper-close {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1330px) {
  .flex-container__card {
    max-height: 220px;
  }
}
