/* MAIN CONTENT */

.flex-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0.5rem;
}

.flex-container__title {
  font-family: Montserrat-Regular;
  letter-spacing: 1px;
  margin: 0.8rem 0;
  text-align: center;
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 326px);
}

/* CARD */

.card__item {
  position: relative;
  width: 100%;
  margin-top: 1.3rem;
}

.item-video {
  position: absolute;
  border-radius: 8px;
  object-fit: unset;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.item-video:hover {
  opacity: 0.5;
}

.wrapper-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  opacity: 1;
}

.wrapper-info__item {
  padding: 0.5rem;
  line-height: 60px;
  text-align: center;
  width: 145px;
  height: 60px;
}

.wrapper-info__sinopsis {
  padding: 0.5rem;
  line-height: 30px;
  width: 145px;
  height: 130px;
}

.wrapper-like {
  background-color: var(--btn-color);
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: -19px;
  right: 0;
  width: 20px;
  height: 23px;
}

.check-like {
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  opacity: 0.01;
  cursor: pointer;
  z-index: 1;
}

.like-icon {
  position: absolute;
  top: 3px;
  right: 2px;
}

.clicked {
  display: none;
}

.check-like:checked ~ .wrapper-like > .default {
  display: none;
}

.check-like:checked ~ .wrapper-like > .clicked {
  display: inline;
}

.link-details {
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 6px 6px 0 0;
  position: absolute;
  top: -26px;
  padding: 0.3rem;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 550px) {
  .main {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 684px) {
  .card__item:last-child {
    grid-column-end: span 2;
  }
}

@media screen and (min-width: 880px) {
  .flex-container {
    margin: 0.5rem 2rem;
  }
}

@media screen and (min-width: 1416px) {
  .card__item:nth-child(3),
  .card__item:nth-child(4) {
    grid-column-end: span 2;
  }
}

@media screen and (min-width: 1758px) {
  .card__item:nth-child(3),
  .card__item:nth-child(4),
  .card__item:last-child {
    grid-column-end: initial;
  }
}
